<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heeexy.example.dao.AssAdminDao">


    <!--获取社员数量-->
    <select id="countAssUser" parameterType="com.alibaba.fastjson.JSONObject" resultType="Integer">
        SELECT COUNT(0) from association a left JOIN ass_users au on a.id=au.association_id WHERE a.user_id=#{userId}
        AND a.delete_status=1 and au.delete_status=1
    </select>
    <!--获取活动数量-->
    <select id="countActivity" parameterType="com.alibaba.fastjson.JSONObject" resultType="Integer">
        SELECT COUNT(0) from activity ac LEFT JOIN association s on ac.association_id =s.id WHERE s.user_id=#{userId}
        AND
        s.delete_status=1 and ac.delete_status=1
    </select>
    <!--获取活动列表-->
    <select id="listActivity" parameterType="com.alibaba.fastjson.JSONObject"
            resultType="com.alibaba.fastjson.JSONObject">
        SELECT ac.* from activity ac LEFT JOIN association s on ac.association_id =s.id WHERE s.user_id=#{userId} AND
        s.id=#{id} AND s.delete_status=1 and ac.delete_status=1
    </select>
    <!--获取社员列表-->
    <select id="listAssUser" parameterType="com.alibaba.fastjson.JSONObject"
            resultType="com.alibaba.fastjson.JSONObject">
        SELECT a.user_id,a.association_id,a.is_accept,date_format(a.create_time, '%Y.%m.%d %T')
        create_time,s.nickname,s.class FROM ass_users a LEFT JOIN sys_user s on a.user_id=s.id WHERE
        a.association_id=#{id}
        AND a.delete_status=1 and s.delete_status=1 LIMIT #{offSet}, #{pageRow}
    </select>
    <!--根据社长id获取社团id-->
    <select id="getAdminId" parameterType="com.alibaba.fastjson.JSONObject"
            resultType="com.alibaba.fastjson.JSONObject">
        SELECT a.id,a.name from association a where a.user_id=#{userId} AND a.delete_status=1
    </select>
    <!--审批社员入团-->
    <update id="agreeAssUser" parameterType="com.alibaba.fastjson.JSONObject">
        update ass_users
        set
        is_accept=#{is_accept}
        where user_id=#{user_id} and association_id=#{association_id}  AND delete_status=1
    </update>
    <!--创建社团活动-->
    <insert id="createActivity" parameterType="com.alibaba.fastjson.JSONObject">

        insert into activity ( name, details,association_id,association_name,start_time,end_time,is_open
        )
        values ( #{name}, #{details},#{association_id},#{association_name},#{start_time},#{end_time},#{is_open}
        )
    </insert>
    <!--更新活动信息-->
    <update id="updateActivity" parameterType="com.alibaba.fastjson.JSONObject">
        UPDATE activity
        SET
        name = #{name},
        details = #{details},
        association_id = #{association_id}, start_time = #{start_time}, end_time = #{end_time}, is_open = #{is_open}
        WHERE
        id = #{id} AND delete_status=1
    </update>
</mapper>