<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heeexy.example.dao.AssociationDao">

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from association
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.alibaba.fastjson.JSONObject">
    insert into association ( name, details,simple_detail
      )
    values ( #{name}, #{details},#{simple_detail}
      )
  </insert>
  <select id="countAssociation" resultType="Integer">
    SELECT count(0)
    FROM association a
    WHERE a.delete_status = '1' AND a.is_open='1'
  </select>
  <select id="listAssociation" resultType="com.alibaba.fastjson.JSONObject">
    SELECT
    w.id id,
    w.name name,
    w.details details,
    w.simple_detail simple_detail,
    date_format(w.create_time, '%Y.%m.%d %T') createTime
    FROM association w
    WHERE w.delete_status = '1' AND w.is_open='1'
    ORDER BY w.id DESC
    LIMIT #{offSet}, #{pageRow}
  </select>
  <update id="updateAssociation" parameterType="com.alibaba.fastjson.JSONObject">
    UPDATE association
    SET
    name=#{name},
    details=#{details},
    simple_detail=#{simple_detail},
    delete_status=#{delete_status}
    WHERE id = #{id}
  </update>
</mapper>