<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heeexy.example.dao.AssociationDao">

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from association
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <!--新增社团-->
  <insert id="insert" parameterType="com.alibaba.fastjson.JSONObject">
    insert into association ( name, details,simple_detail,user_id
      )
    values ( #{name}, #{details},#{simple_detail},#{user_id}
      )
  </insert>
  <!--获取社团数量-->
  <select id="countAssociation" resultType="Integer">
    SELECT count(0)
    FROM association a
    WHERE a.delete_status = '1' AND a.is_open='1'
  </select>
  <!--获取社团详情-->
  <select id="getAssociation" resultType="com.alibaba.fastjson.JSONObject">
    SELECT a.*
    FROM association a
    WHERE a.delete_status=1 and a.id=#{id}

  </select>
  <select id="getUserInfo" resultType="com.alibaba.fastjson.JSONObject">
    select u.nickname,u.class from sys_user  u where u.delete_status='1' and u.id=#{user_id}

  </select>
  <!--获取社团列表-->
  <select id="listAssociation" resultType="com.alibaba.fastjson.JSONObject">
    SELECT
       w.id ,w.name,w.details,w.activity_id,w.user_id,
       date_format(w.create_time, '%Y.%m.%d %T') create_time,
       date_format(w.update_time, '%Y.%m.%d %T') update_time,
       w.simple_detail,w.is_open,w.delete_status

    FROM association w
    WHERE w.delete_status = 1 AND w.is_open=1
    ORDER BY w.id DESC
    LIMIT #{offSet}, #{pageRow}
  </select>
  <!--更新社团信息-->
  <update id="updateAssociation" parameterType="com.alibaba.fastjson.JSONObject">
    UPDATE association
    SET
    name=#{name},
    details=#{details},
    simple_detail=#{simple_detail},
    <if test="delete_status !='' and delete_status !=null">
      delete_status=#{delete_status，jdbcType=INTEGER},
    </if>

    user_id=#{user_id}
    WHERE id = #{id}
  </update>
  <!--<insert id="updateAssUser" parameterType="com.alibaba.fastjson.JSONObject" >-->
    <!--INSERT INTO ass_users (user_id,assocation_id,is_accept,user_type)-->
    <!--VALUE (#{user_id},#{id},#{is_accept},#{user_type})-->
  <!--</insert>-->
  <update id="updateAssUser" parameterType="com.alibaba.fastjson.JSONObject">
    update sys_user
    set
    is_choose=#{is_choose}
    where id=#{old_user_id}

  </update>

  <select id="assUserCount" parameterType="com.alibaba.fastjson.JSONObject">
    SELECT count(0)
    FROM ass_users au
    WHERE au.delete_status = 1 AND  au.assocation_id=#{id}
  </select>
</mapper>